body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: block;
    background-color: salmon;
    box-sizing: border-box;
}

*, body * {
    box-sizing: border-box;
}

.wrapper {
    margin: 50px;
    padding: 20px;
    background: white;
}

.instrucs {
    padding-bottom: 10px;
}

.flex-outer {
    display: flex;

}

.flex-inner {
    flex: 0 0 50%;
    padding-bottom: 30px;
}

.flex-inner:first-child {
    flex-shrink: 1;
    padding-right: 30px;
}

.flex-inner label {
    display: block;
}

input {
    margin-top: 15px;
    padding: 10px;
    max-width: 320px;
    width: 100%;
}

select {
    padding: 10px;
    height: 37px;
    margin-top: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    max-width: 322px;
    width: 100%;
}

span {
    display: block;
}

span a {
    padding: 10px;
    text-decoration: underline;
    background-color: black;
    color: lightcoral;
    margin-bottom: 10px;
    display: inline-block;
}

@media all and (max-width: 767px) {
    .flex-outer {
        flex-wrap: wrap;
    }
    .flex-inner {
        flex: 1 1 100%;
    }
    .flex-inner:first-child {
        padding-right: 0;
    }
}

@media all and (max-width: 767px) {
    .wrapper {
        margin: 20px;
        padding: 20px;
    }
}